.carouselItem {
	.carousel-caption {
		bottom: 30vh;
		top: 30vh;
		.card {
			background-color: rgba(255, 255, 255, 0.8);
			.checkItOutBtn {
				position: absolute;
				bottom: 4vh;
				left: 50%;
				transform: translateX(-50%);
				padding: 12px 35px;
			}
		}
	}
	.carouselItem__card {
		height: 40vh;
	}
}

@media (max-width: 575px) {
	.carouselItem {
		.carousel-caption {
			top: 12vh;
			.card {
				.checkItOutBtn {
					font-size: 12px !important;
				}
			}
		}
		.carouselItem__card {
			height: 70vh;
		}
	}
}
